@font-face {
  font-family: 'Heuristica-Bold';
  src: url('fonts/Heuristica-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Heuristica-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Heuristica-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Heuristica-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Heuristica-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Heuristica-BoldItalic';
  src: url('fonts/Heuristica-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/Heuristica-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Heuristica-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Heuristica-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Heuristica-BoldItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Heuristica-Italic';
  src: url('fonts/Heuristica-Italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/Heuristica-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Heuristica-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Heuristica-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Heuristica-Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Heuristica-Regular';
  src: url('fonts/Heuristica-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Heuristica-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Heuristica-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Heuristica-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Heuristica-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body,html{
	margin:0px;
	padding:0px;
	position:relative;
}

#hat{
	height:36px;
	background-color:#f2f2f2;
 	width:100%;
 	position:absolute;
 	top:0px;
 	left:0px;

	.left{
		width:135px;
		height:36px;
		float:left;
		background:url('assets/top_left.jpg') no-repeat;
	}

	.right{
		width:730px;
		height:36px;
		float:right;
		background:url('assets/top_right.jpg') no-repeat;
	}
}

#hat-dark{
	position:absolute;
	top:36px;
	left:0px;
	height:141px;
	width:100%;
	background-color:#000;
}

#main-img{
	display:block;
	position:absolute;
	top:36px;
	left:50%;
	transform:translate(-50%);
}

#main-img2{
	display:block;
	position:absolute;
	top:3300px;
	left:50%;
	transform:translate(-50%);
}

article{
	width:710px;
	height:auto;
	position:absolute;
  top: 1060px;
  left: 50%;
  transform: translate(-415px);
	background:rgba(255,255,255,1);
	
	.textComment{
		cursor:pointer;
  	text-decoration: underline;
    -moz-text-decoration-color: #f8941c; /* Code for Firefox */
    text-decoration-color: #f8941c;
    text-decoration-style:wavy;
	}

	h2{
		font: normal 29px/35px Heuristica-Regular,Arial,sans-serif;
	}

	h3{
		font: bold 29px/35px Heuristica-Regular,Arial,sans-serif;
	}
	
	p, a{
		margin-bottom: 24px;
    line-height: 35px;
    word-wrap: break-word;
    font: normal 21px/28px Heuristica-Regular,Arial,sans-serif;
	}

	a{
		text-transform: italic;
		color:#e0012d;
		text-decoration: none;
		
		&:hover{
			text-decoration: underline;
		}
	}

}


#menu-left{
	width:74px;
	height:292px;
	background:url(assets/ico.png) no-repeat;
	position:absolute;
	top:1052px;
  left: 50%;
  transform: translate(-640px);
  cursor:pointer;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; 
  
  div{
  	position:absolute;
  	bottom:0px;
  	left:0px;
  	cursor:pointer;
  	width:74px;
  	height:74px;
  }

}


#comment-box{
	position:absolute;
	top:100px;
	left:50%;
	//transform:translate(-50%);
	background:#fff;
	//border:1px solid red;
	width: 748px;
	padding:15px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	display:none;
	margin-left:-374px;
	margin-top:20px;

	.close{
		display:block;
		width:30px;
		height:30px;
		border-radius:15px;
		line-height:30px;
		text-align:center;
		background:#f8941c;
		color:#fff;
		top:-15px;
		right:-15px;
		position:absolute;
		font-family:arial;
		font-size:18px;
		cursor:pointer;
		font-family:Heuristica-Bold;
		svg{
			width:23px;
			height:23px;
			margin-top:4px;
			
			.close-x {
	  		stroke: #fff;
	  		fill: transparent;
	  		stroke-linecap: round;
	  		stroke-width: 5;	
			}
		}
	}

	& > h2{
		margin-top:0px;
		font-family:Heuristica-Regular;
		font-weight: normal;
		cursor:move;
		-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
    font-style: italic;
		svg{
			width: 37px;
    	height: 30px;
     	fill: rgba(149,149,149,0.6);
     	margin-right:5px;
		}
		   
	}

	.comment{ 
		overflow: hidden;
		padding-bottom:15px;


		.left{
			width:200px;
			float:left;

			.thumbnail{
				height:90px;
				width:140px;
				background:url(assets/author.png) left top no-repeat;
				padding-left:90px;
				overflow: hidden;
				border-right:1px solid #959595;

				h2{
					font-weight: normal;
					font-family: Heuristica-Regular,Arial,sans-serif;
					margin:0px;
					font-size:18px;
					margin-top:16px;
					display: block;
				}

				h3{
					margin:0px;
					color:#e3022c;
					letter-spacing: 0px;
					font-family:Heuristica-Bold;
					font-size:16px;
					display: block;
				}
			}

			.ico{
				border-top:1px solid #959595;
				background:url(assets/author_ico.png) 5px bottom no-repeat;
				margin-top:30px;
				padding-top:15px;
				height:20px;
				width:230px;
				cursor:pointer;
			}
		}

		.right{

			width:480px;
			float:right;

			h2{
				margin:0px;
				margin-top:5px;
				color:#e3022c;
				letter-spacing: 0px;
				font-family:Heuristica-Bold;
				font-size:16px;
				text-transform: uppercase;
				display: block;
			}
			
			.save{
				color:#f7921e;
				float:right;
				cursor:pointer;
				padding-top:3px;
				margin-right: 7px;
				&:hover{
					text-decoration:underline;
				}
			}

			.count{ 
				color:#f7921e;
				float:left;
				padding-top:3px;
				font: 14px Heuristica-Regular,Arial,sans-serif;
			}

			p{
				margin:0px;
				padding:0px;
				font: normal 16px Heuristica-Regular,Arial,sans-serif;

				img{
					display: block;
					margin:5px auto;
				}

			}

			textarea{
				width: 462px;
    		height: 83px;
    		padding:5px;
    		outline:0px;
    		border: 1px solid #b3b3b3;
    		font: 14px Heuristica-Regular,Arial,sans-serif;
			}

			textarea:focus{
				outline:0px;
			}

		}

	}

	.show-all{
		color:#f7921e;
		float:right;
		cursor:pointer;
		padding-top:3px;
		&:hover{
			text-decoration:underline;
		}
	}

	.comment.author{
		border-bottom:4px solid #e0012d;
	}

	.comment.user{
		margin-top:20px;
		border-bottom:2px solid #f7921e; 
		margin-right:50px;

		.left{

			.thumbnail{
				background:url(assets/user.png) left top no-repeat;

				h2{
					margin-top:26px;
				}
			}

			.ico{
				background:url(assets/user_ico.png) 5px bottom no-repeat;
			}
		}

		.right{
			h2{
				color:#f7921e;
			}
		}

	}
.comments-wrapper{
	max-height:400px;
	overflow:hidden;

	.comments-scroll{
		max-height:400px;
		overflow-y: scroll;
		width:795px;
	}
}

}